<div class="content">
  <h2>Farm</h2>
  <p>Earn 2 - 5 gold</p>
  <button (click)="gold_farm('Farm',2,5)">Farm!</button>
</div>


<div class="content">
  <h2>Cave</h2>
  <p>Earn 5 - 10 gold</p>
  <button (click)="gold_farm('Cave', 5, 10)">Cave!</button>
</div>

<div class="content">
  <h2>Casino</h2>
  <p>Earn/lose up to 100 gold</p>
  <button (click)="gold_farm('Casino', -100, 100)">Casino!</button>
</div>

<div class="content">
  <h2>House</h2>
  <p>Earn 7 - 15 gold</p>
  <button (click)="gold_farm('House', 7, 15)">House!</button>
</div>
<style>
  .content {
    display: inline-block;
    margin: 35px;
  }
  button{
    background-color: rgb(166, 255, 0);
    width: 80px ;
    height: 60px;
  }
  h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }

</style>