
<!-- invoke the domath method from places.component.ts -->
<div class="all">
  <div class="content">
    <h2>Farm</h2>
    <p>Earn 2 - 5 gold</p>
    <button (click)="domath('Farm',2,5)">Farm!</button>
  </div>


  <div class="content">
    <h2>Cave</h2>
    <p>Earn 5 - 10 gold</p>
    <button (click)="domath('Cave', 5, 10)">Cave!</button>
  </div>

  <div class="content">
    <h2>Casino</h2>
    <p>Earn/lose up to 100 gold</p>
    <button (click)="domath('Casino', -100, 100)">Casino!</button>
  </div>

  <div class="content">
    <h2>House</h2>
    <p>Earn 7 - 15 gold</p>
    <button (click)="domath('House', 7, 15)">House!</button>
  </div>
</div>


<style>
  .content {
    display: inline-block;
    margin: 35px;
  }
  button{
    background-color: rgb(0, 153, 255);
    width: 80px ;
    height: 60px;
  }
  h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
  .all{
    width: 900px;
    height:300px;
    background-color: rgb(0, 113, 128);

  }

</style>
